<a href="https://colab.research.google.com/github/syahrezatzy/PEMEROGRAMAN-DASAR/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
total = float(input("berapa porsi makanan yang kamu beli: "))
nama = input("siapakah nama pelanggan :")

print(f"siapa nama pelanggan ? : {nama}")
print(f"berapa porsi makanan yang kamu beli: {total}")

berapa porsi makanan yang kamu beli: 69
siapakah nama pelanggan :Syahreza
siapa nama pelanggan ? : Syahreza
berapa porsi makanan yang kamu beli: 69.0

In [ ]:
nama = "syahreza"
umur = 19
berat = 90.25
angka = 125
angka = 29

print("nama saya adalah %s" %nama)
print("umur saya adalah %d tahun" % umur)
print("berat badanku %.1f kilogram" %berat)
print("buat angka ke dalam hexadecimal : %x" % angka)
print("jadikan angka octal: %o" %angka)

nama saya adalah syahreza
umur saya adalah 19 tahun
berat badanku 90.2 kilogram
buat angka ke dalam hexadecimal : 1d
jadikan angka octal: 35

In [ ]:

total_detik = int(input("total detik: "))
jam = total_detik // 3600
sisa_detik = total_detik % 3600
menit = sisa_detik // 60
detik = sisa_detik % 60


print(f"Hasil Konversi: {jam} Jam, {menit} Menit, {detik} Detik")

total detik: 358200
Hasil Konversi: 99 Jam, 30 Menit, 0 Detik

In [ ]:

tugas = int(input("Masukkan nilai Tugas: "))
uts = int(input("Masukkan nilai UTS: "))
uas = int(input("Masukkan nilai UAS: "))

nilai_mahasiswa = (0.3 * tugas) + (0.3 * uts) + (0.4 * uas)

standar_kelulusan = int(input("Masukkan standar kelulusan: "))

apakah_lulus = nilai_mahasiswa >= standar_kelulusan

perlu_remedial = nilai_mahasiswa < standar_kelulusan

print(f"Nilai Mahasiswa   : {nilai_mahasiswa}")
print(f"Standar Kelulusan : {standar_kelulusan}")
print(f"Apakah Mahasiswa Lulus? {apakah_lulus}")
print(f"Perlu Remedial? {perlu_remedial}")

Masukkan nilai Tugas: 80
Masukkan nilai UTS: 70
Masukkan nilai UAS: 90
Masukkan standar kelulusan: 70
Nilai Mahasiswa   : 81.0
Standar Kelulusan : 70
Apakah Mahasiswa Lulus? True
Perlu Remedial? False

In [4]:

belanja = int(input("Masukkan total belanja: "))

if belanja > 1000000:
    diskon = 0.35 * belanja   # 35% untuk belanja > 1 juta
elif belanja > 500000:
    diskon = 0.10 * belanja   # 10% untuk belanja > 500 ribu
else:
    diskon = 0                # Tidak ada diskon

total_harga = belanja - diskon

print("Total belanja        =", belanja)
print("Diskon yang didapat  =", diskon)
print("Total harga setelah diskon =", total_harga)

Masukkan total belanja: 499000
Total belanja        = 499000
Diskon yang didapat  = 0
Total harga setelah diskon = 499000

In [ ]:

tahun = int(input("Masukkan tahun: "))

if (tahun % 4 == 0 and tahun % 100 != 0) or (tahun % 400 == 0):
    print(tahun, "adalah tahun kabisat")

else:
    print(tahun, "bukan tahun kabisat")

In [22]:
#KASIR ABAL ABAL BY Syahreza

jumlah_item = int(input("Masukkan jumlah item yang dibeli: "))

subtotal = 0
for i in range(jumlah_item):
    harga = float(input(f"Masukkan harga item ke-{i+1}: "))
    subtotal += harga

member = input("Apakah Anda member? (y/n): ").lower()

if member == "y" and subtotal > 100000:
    diskon = 0.15 * subtotal
else:
    diskon = 0

harga_setelah_diskon = subtotal - diskon3

ppn = 0.11 * harga_setelah_diskon

total_akhir = harga_setelah_diskon + ppn

print("Subtotal               : Rp", format(subtotal, ","))
print("Diskon (15%)           : Rp", format(diskon, ","))
print("Harga setelah diskon   : Rp", format(harga_setelah_diskon, ","))
print("PPN (11%)              : Rp", format(ppn, ","))
print("Total yang harus dibayar: Rp", format(total_akhir, ","))

Masukkan jumlah item yang dibeli: 4
Masukkan harga item ke-1: 35000
Masukkan harga item ke-2: 35000
Masukkan harga item ke-3: 35000
Masukkan harga item ke-4: 35000
Apakah Anda member? (y/n): y
Subtotal               : Rp 140,000.0
Diskon (15%)           : Rp 21,000.0
Harga setelah diskon   : Rp 119,000.0
PPN (11%)              : Rp 13,090.0
Total yang harus dibayar: Rp 132,090.0